<section class="hero is-info is-fullheight root">
    <div class="hero-body">
        <div class="container site-content">
            <h1 class="page-title title is-1">
                    <%= page_title %>
            </h1>
            <% var loopCounter = 0; %>
            <div class="columns">
            <% for (var card in content['cards']) { %>
              <% var data = content['cards'][card]; %>
              <% loopCounter += 1; %>
              <% if(loopCounter %3 == 1 && loopCounter != 1) { %>
              </div>
              <div class="columns">
              <% } %>
              <div class="column is-one-third">
                <div class="card start-box" id="<%- data['id'] %>" data-link="./<%- data['goto'] %>.html">
                  <div class="card-content">
                      <i class="card-icon <%- data['icon'] %> fa-3x" id="<%- data['id'] %>-icon"></i>
                      <h1 class="subtitle is-3"><%- data['title'] %></h1>
                      <p><%- data['description'] %></p>
                  </div>
                </div>
              </div>
            <% } %>
  </div>
</section>
